<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ttxr.activity"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="com.ttxr.application.AppClass_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <!-- 登录注册选择界面 -->
        <activity
            android:name=".LoginAndRegActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.RegActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/fast_reg"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.SetPassWordActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/fast_reg"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.LoginActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.SetAddressActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/new_address"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.SetPhoneActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/phone"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.SetNickNameActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/reset_nickname"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.SetPhotoActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/setphoto"/>
        <activity
            android:name=".order.OrderDetailActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/order_status"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".setting.IPSettingActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="设置IP"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".WelcomeActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewPagerActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/viewpager"></activity>

        <!-- 高德地图 debug-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d449ae54c3fb03554b1d6a68368ed23b"/>
        <!-- 高德地图 线上-->

        <!-- umeng 推送 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push"></receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4"/>
                <category android:name="umeng"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ttxr.activity.intent.action.COMMAND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">

            <intent-filter>
                <action android:name="com.ttxr.activity.intent.action.START"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ttxr.activity.intent.action.COCKROACH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4"/>
                <category android:name="umeng"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push"/>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5534a62d67e58e87810024e2"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="073c816002d3ed0a2ea24c161ce8527b"></meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="main"></meta-data>
        <!-- umeng 推送 -->

        <!-- umeng 反馈 -->
        <activity android:name="com.umeng.fb.ConversationActivity"/>

        <!-- umeng 更新-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
    </application>

</manifest>
